/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2020, 9:42:18 PM
    Author     : nguyenvanan
*/

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #42554e;
}

.main {
    background-image: url('${pageContext.request.contextPath}/static/images/bg.jpg');
    background-repeat: repeat-y;
    margin: 0 auto;
    width: 885px;
}
/* Header */
.preheader {
    background-image: url('${pageContext.request.contextPath}/static/images/preheader.jpg');
    height: 70px;
    background-repeat: no-repeat;
}

.header {
    background-image: url('${pageContext.request.contextPath}/static/images/header.jpg');
    height: 70px;
    margin-top: -35px;
}

.header h3, .menu p {
    margin-left: 85px;
}

.header h3, .menu a {
    color: #fff;
}
/* Menu */
.menu {
    background-image: url('${pageContext.request.contextPath}/static/images/menu.jpg');
    height: 33px;
}

.menu p {
    padding: 8px 0;
    font-size: 12px;
    font-weight: bold;
}
/* Footer */
.footer {
    background-image: url('${pageContext.request.contextPath}/static/images/footer.jpg');
    height: 50px;
}
/* Content */
.content {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 760px;
}

.article {
    width: 550px;
    border-right: 2px dotted #e0e0e0;
}

.sidebar {
    width: 210px;
}

.article, .sidebar {
    padding: 0 20px;
}
/* Sidebar */
.sidebar .search-box {
    border: 2px dotted #42554e;
    padding: 2px;
}

.sidebar .search-btn {
    border: none;
    background: none;
}

.sidebar ul, .text {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    list-style-type: none;
    text-decoration: underline;
    margin-bottom: 15px;
}

/* Other */
.title {
    color: #42554e;
    margin-bottom: 5px
}

.text {
    font-size: 12px;
}
