/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2020, 9:42:18 PM
    Author     : nguyenvanan
*/

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.main {
    background-image: url('${pageContext.request.contextPath}/static/images/bg.jpg');
    background-repeat: repeat-y;
    margin: 0 auto;
    width: 886px;
}

.preheader {
    background-image: url('${pageContext.request.contextPath}/static/images/preheader.jpg');
    height: 71px;
    background-repeat: no-repeat;
}

.header {
    background-image: url('${pageContext.request.contextPath}/static/images/header.jpg');
    height: 70px;
    margin-top: -35px;
}

.header h3 {
    color: #fff;
    margin-left: 85px;
}

.menu {
    background-image: url('${pageContext.request.contextPath}/static/images/menu.jpg');
    height: 33px;
}

.menu p {
    margin: 0;
    margin-left: 85px;
    padding: 8px 0;
    font-size: 13px;
    font-weight: bold;
}

.menu p a {
    color: #fff;
}

.footer {
    background-image: url('${pageContext.request.contextPath}/static/images/footer.jpg');
    height: 50px;
}

.content {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 760px;
}

.article {
    width: 550px;
    padding: 0 20px;
    border-right: 2px dotted #e0e0e0;
}

.sidebar {
    width: 220px;
    padding: 0 20px;
}

.sidebar .search-box {
    border: 2px dotted #42554e;
    padding: 3px;
}

.sidebar .search-btn {
    border: none;
    background: none;
}

.title {
    color: #42554e;
    margin-bottom: 4px
}

.text {
    font-size: 13px;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    list-style-type: none;
    text-decoration: underline;
    padding-bottom: 15px;
}

a {
    color: #42554e;
}