/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2020, 9:42:18 PM
    Author     : nguyenvanan
*/

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.main {
    background-image: url('${pageContext.request.contextPath}/static/images/img04.jpg');
    margin: 0 auto;
    width: 610px;
}
/* Header */
.header {
    height: 80px;
}

.header h1 {
    margin-left: 30px;
}
/* Menu */
.menu {
    display: flex;
    height: 30px;
    background: #000;
    width: 580px;
    margin: 0 auto;
}

.menu p {
    padding: 6px 20px;
    font-size: 13px;
    font-weight: bold;
}
.menu a {
    color: #bfbfbf;
}

.menu a.active {
    color: #fff;
}
.menu a.active:after {
    content: "";
    width: 15px;
    height: 6px;
    background-image: url('${pageContext.request.contextPath}/static/images/img02.jpg');
    margin: 0 auto;
    display: block;
}
/* Container */
.container {
    display: flex;
    margin: 30px auto;
    width: 580px;
}

.article {
    width: 390px;
}

.sidebar {
    width: 140px;
}

.article, .sidebar {
    padding: 0 20px;
}

.article .content {
    text-align: justify;
    font-size: 10px;
    margin-top: 20px;
}

.article img {
    float: left;
    width: 125px;
    margin-right: 20px;
}

ul li {
    margin-bottom: 10px;
}

.sidebar .title {
    padding-left: 10px;
}

.sidebar ul {
    list-style-image: url('${pageContext.request.contextPath}/static/images/img01.jpg');
    font-size: 10px;
    padding-left: 20px;
}

/* Other */
.title {
    margin: 0;
    font-family: 'Nova Mono', monospace;
}

.text {
    font-size: 10px;
}

.fs-italic {
    font-style: italic;
}

.primary {
    color: gray;
}

.secondary {
    color: green;
}

.dot {
  height: 3px;
  width: 3px;
  margin: 2px 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.green {
    background-color: green;
}

.info {
    font-size: 8px;
}